<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiangxue.jack.dao.CommonMapper" >
	<!-- 开启二级缓存 
	<cache></cache>-->
	<resultMap id="RECORDResultMap" type="com.xiangxue.jack.bean.ConsultRecord" >
		<id column="ID" property="id"/>
		<result column="PSPTID" property="psptId" jdbcType="VARCHAR" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="ACTIVETIME" property="activeTime" jdbcType="VARCHAR" />
		<result column="AUTOGRAPH" property="autograph" jdbcType="VARCHAR" />
		<result column="ISPASS" property="ispass" jdbcType="VARCHAR" />
		<result column="DOCAUTOGRAPH" property="docautograph" jdbcType="VARCHAR" />
		<result column="FINGERPRINT" property="fingerprint" jdbcType="VARCHAR" />
		<result column="PRINT_FLAG" property="printFlag" jdbcType="VARCHAR" />
		<result column="REMARK" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap id="ContentResultMap" type="com.xiangxue.jack.bean.ConsultContent" >
		<id column="ID" property="id"/>
		<result column="ITEMINDEX" property="itemIndex"/>
		<result column="CONTENT" property="content"/>
		<result column="TYPE" property="type"/>
		<result column="STATE" property="state"/>
	</resultMap>
	
	<resultMap id="ContractResultMap" type="com.xiangxue.jack.bean.ConsultContract" >
		<id column="CONTRACT_ID" property="contractId"/>
		<result column="PSPTID" property="psptId"/>
		<result column="CONTRACT_CODE" property="contractCode"/>
		<result column="ACTIVETIME" property="activeTime"/>
		<result column="STATE" property="state"/>
	</resultMap>
	
	<resultMap id="CountResultMap" type="com.xiangxue.jack.bean.ConsultRecordCount" >
		<result column="PSPTID" property="psptId" jdbcType="VARCHAR" />
		<result column="ISPRODUCE" property="isproduce"/>
		<result column="UNPRODUCE" property="unproduce"/>
	</resultMap>
	
	<resultMap id="AreaResultMap" type="com.xiangxue.jack.bean.ConsultConfigArea" >
		<result column="AREACODE" property="areaCode" jdbcType="VARCHAR" />
		<result column="AREANAME" property="areaName" jdbcType="VARCHAR"/>
		<result column="STATE" property="state"/>
	</resultMap>
	
	<update id="updateConsultRecord"  parameterType="java.util.Map" databaseId="mysql">
		update consult_record 
		<set>
			<if test="handState != null and handState != ''" >
				hand_state = #{handState,jdbcType=VARCHAR},
			</if>
			<if test="ispass != null and ispass != ''" >
				ISPASS = #{ispass,jdbcType=VARCHAR},
			</if>
			<if test="docautograph != null and docautograph != ''" >
				DOCAUTOGRAPH = #{docautograph,jdbcType=VARCHAR}
			</if>
		</set> 
		where id = #{id}
	</update>
	
	<update id="updateRecordCount"  parameterType="java.util.Map">
		update consult_recordcount 
		<set>
			<if test="isproduce != null" >
				isproduce = #{isproduce,jdbcType=DECIMAL},
			</if>
			<if test="unproduce != null" >
				unproduce = #{unproduce,jdbcType=DECIMAL},
			</if>
		</set> 
		where psptId = #{psptId,jdbcType=VARCHAR}
	</update>
	
	<update id="updateArea"  parameterType="com.xiangxue.jack.bean.ConsultConfigArea">
		update consult_configarea 
		<set>
			<if test="areaCode != null" >
				areaCode = #{areaCode,jdbcType=VARCHAR},
			</if>
			<if test="areaName != null" >
				areaName = #{areaName,jdbcType=VARCHAR},
			</if>
			<if test="state != null" >
				state = #{state},
			</if>
		</set> 
		where areaCode = #{areaCode,jdbcType=VARCHAR}
	</update>
	
	<update id="updateRecords"  parameterType="java.util.Map">
	 
				update consult_record set
				  PRINT_FLAG='Y'
				where id in 
		<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
				#{item}
		</foreach>
		 
	</update>
	
	<update id="updateRecordsByPsptId"  parameterType="java.util.Map">
	 
				update consult_record set
				  PRINT_FLAG='Y'
				where psptId in
		<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
				#{item}
		</foreach>
		 
	</update>
    
	<select id="qryContracts" parameterType="java.util.Map" resultMap="ContractResultMap"> 
    	select * from consult_contract where psptId in
		<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
				#{item}
		</foreach>
	</select>
    
	<insert id="saveContracts"  parameterType="java.util.List">  
    insert into consult_contract(psptId,contract_code,state,activeTime)   
    values  
		<foreach collection="list" item="item" index="index" separator="," >  
        (#{item.psptId},#{item.contractCode},#{item.state},#{item.activeTime})  
		</foreach>  
	</insert>  
	
	<select id="queryAreaByAreaCode" parameterType="java.util.Map" resultMap="AreaResultMap">
  	select * from consult_configarea 
		<choose>  
			<when test="areaCode=='101'">  
                where areaName= '测试1'
			</when>  
			<when test="areaCode=='102'">  
                where areaName= '测试2' 
			</when>  
			<otherwise>  
                where areaName= '测试1' 
			</otherwise>  
              
		</choose>  
	</select>
  
	<select id="queryUserByPsptId" parameterType="java.util.Map" resultType="java.util.Map">
  	select *,date_format(birthday,'%Y-%m-%d') birthday1,date_format(activeTime,'%Y-%m-%d') activeTime1 from consult_idcardinfo where psptId = #{psptId,jdbcType=VARCHAR}
	</select>
	
	<select id="queryRecordCount" parameterType="java.util.Map" resultMap="CountResultMap">
  	select * from consult_recordcount 
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="psptId != null and psptId != ''" >
  			and psptId = #{psptId,jdbcType=VARCHAR}
			</if>
		</trim>
	</select>
	
	<select id="queryContent" parameterType="java.util.Map" resultMap="ContentResultMap">
  	select * from consult_content a where a.state = 0
		<if test="type != null and type != ''" >
				and a.type = #{type,jdbcType=VARCHAR}
		</if>
  	order by a.itemindex
	</select>
  
	<select id="queryConsultRecords" parameterType="java.util.Map" resultMap="RECORDResultMap">
  	select ID,PSPTID,date_format(ACTIVETIME,'%Y-%m-%d') ACTIVETIME,date_format(ACTIVETIME,'%Y-%m-%d %T') ACTIVETIME1,AUTOGRAPH,ISPASS,DOCAUTOGRAPH,FINGERPRINT,PRINT_FLAG,REMARK
  	 from consult_record where PSPTID = #{psptId,jdbcType=VARCHAR} and hand_state = 'C' order by ACTIVETIME1 desc
	</select>
  
	<select id="queryRecords" parameterType="java.util.Map" resultMap="RECORDResultMap">
  	select bb.*,(select name from consult_idcardinfo aa where aa.PSPTID = bb.PSPTID) name from (select ID,PSPTID,date_format(ACTIVETIME,'%Y-%m-%d') ACTIVETIME,AUTOGRAPH,ISPASS,DOCAUTOGRAPH,FINGERPRINT,PRINT_FLAG,REMARK
  	 from consult_record 
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="psptId != null and psptId != ''" >
  	 		and PSPTID like CONCAT('%',#{psptId,jdbcType=VARCHAR},'%')
			</if>
			<if test="name != null and name != ''" >
  	 		and PSPTID in (select PSPTID from consult_idcardinfo where name like CONCAT('%',#{name,jdbcType=VARCHAR},'%'))
			</if>
			<if test="simple != null and simple != ''" >
  	 		and PSPTID in (select PSPTID from consult_idcardinfo where pinyin(name) = #{simple,jdbcType=VARCHAR})
			</if>
			<if test="innerId != null and innerId != ''" >
  	 		and PSPTID in (select PSPTID from consult_idcardinfo where innerId = #{innerId})
			</if>
			<if test="activeTime != null and activeTime != ''" >
  	 		and ACTIVETIME >= str_to_date(#{activeTime,jdbcType=VARCHAR},'%Y-%m-%d')
			</if>
			<if test="printFlag != null and printFlag != ''" >
				and PRINT_FLAG = #{printFlag,jdbcType=VARCHAR}
			</if>
			<if test="handState != null and handState != ''" >
				and hand_state = #{handState,jdbcType=VARCHAR}
			</if>
		</trim>
  	 order by ACTIVETIME desc  
		<if test="beginPage != null and beginPage != '' or beginPage==0">
  	 	LIMIT #{beginPage}
		</if>
		<if test="pageSize != null and pageSize != ''" >
  	 	,#{pageSize}
		</if> ) bb
	</select>
	
	<select id="queryRecordshaveH" parameterType="java.util.Map" resultMap="RECORDResultMap">
  	select bb.*,(select name from consult_idcardinfo aa where aa.PSPTID = bb.PSPTID) name from (select ID,PSPTID,date_format(ACTIVETIME,'%Y-%m-%d %T') ACTIVETIME,AUTOGRAPH,ISPASS,DOCAUTOGRAPH,FINGERPRINT,PRINT_FLAG,REMARK
  	 from consult_record 
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="psptId != null and psptId != ''" >
  	 		and PSPTID = #{psptId,jdbcType=VARCHAR}
			</if>
			<if test="name != null and name != ''" >
  	 		and PSPTID in (select PSPTID from consult_idcardinfo where name like CONCAT('%',#{name,jdbcType=VARCHAR},'%'))
			</if>
			<if test="simple != null and simple != ''" >
  	 		and PSPTID in (select PSPTID from consult_idcardinfo where pinyin(name) = #{simple,jdbcType=VARCHAR})
			</if>
			<if test="innerId != null and innerId != ''" >
  	 		and PSPTID in (select PSPTID from consult_idcardinfo where innerId = #{innerId})
			</if>
			<if test="activeTime != null and activeTime != ''" >
  	 		and ACTIVETIME >= str_to_date(#{activeTime,jdbcType=VARCHAR},'%Y-%m-%d')
			</if>
			<if test="handState != null and handState != ''" >
  	 		and hand_state = #{handState,jdbcType=VARCHAR}
			</if>
		</trim>
  	 order by ACTIVETIME  
		<if test="beginPage != null and beginPage != '' or beginPage==0">
  	 	LIMIT #{beginPage}
		</if>
		<if test="pageSize != null and pageSize != ''" >
  	 	,#{pageSize}
		</if> ) bb
	</select>
	
	<select id="qryArea" parameterType="java.util.Map" resultMap="AreaResultMap">
		
		select * from consult_configarea

	</select>
	
	<insert id="saveArea" parameterType="com.xiangxue.jack.bean.ConsultConfigArea">
		<!--<SelectKey></SelectKey>-->
	insert into consult_configarea (AREACODE, AREANAME, STATE)
		values (#{areaCode,jdbcType=VARCHAR}, #{areaName,jdbcType=VARCHAR},#{state,jdbcType=VARCHAR})
	</insert>
	
	<delete id="deleteAreaAll">
		
		delete from consult_configarea
		
	</delete>
	
	<delete id="deleteArea" parameterType="com.xiangxue.jack.bean.ConsultConfigArea">
		
		delete from consult_configarea where areaCode in 
		<foreach item="item" index="index" collection="areaCodes" open="(" separator="," close=")">
				#{item}
		</foreach>
		
	</delete>
  
	<insert id="saveUser" parameterType="com.xiangxue.jack.bean.ConsultIdCardInfo">
  	
	insert into consult_idcardinfo (PSPTID, NAME, BIRTHDAY,SEX,ADDRESS,ACTIVETIME,PICTURE,NATION)
		values (#{psptId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},str_to_date(#{birthday,jdbcType=VARCHAR},'%Y-%m-%d'),
		#{sex,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR},str_to_date(#{activeTime,jdbcType=VARCHAR},'%Y-%m-%d %T'),#{picture,jdbcType=VARCHAR},#{nation,jdbcType=VARCHAR})
	</insert>
  
	<insert id="saveRecord" parameterType="com.xiangxue.jack.bean.ConsultRecord">
  	
	insert into consult_record(PSPTID,ACTIVETIME,AUTOGRAPH,
		<if test="ispass != null and ispass != ''">
	ISPASS,
		</if>
		<if test="docautograph != null and docautograph != ''">
	DOCAUTOGRAPH,
		</if>
	FINGERPRINT,REMARK,PRINT_FLAG)
		values (#{psptId,jdbcType=VARCHAR},str_to_date(#{activeTime,jdbcType=VARCHAR},'%Y-%m-%d %T'),#{autograph,jdbcType=VARCHAR},
		<if test="ispass != null and ispass != ''">
		#{ispass,jdbcType=VARCHAR},
		</if>
		<if test="docautograph != null and docautograph != ''">
		#{docautograph,jdbcType=VARCHAR},
		</if>
		#{fingerprint,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},#{printFlag,jdbcType=VARCHAR})
	</insert>
	
	<insert id="saveRecordCount" parameterType="com.xiangxue.jack.bean.ConsultRecordCount">
  	
	insert into consult_recordcount(PSPTID,ISPRODUCE,UNPRODUCE)
		values (#{psptId,jdbcType=VARCHAR},#{isproduce},#{unproduce})
	</insert>
	
</mapper>